schedules/ДиА/1 курс/ДиА 1 курс четная.xls
schedules/ДиА/Без курса/ДиА.xls
schedules/Механический факультет/1 курс/МФ 1 курс  нечетная.xls
schedules/Механический факультет/1 курс/МФ 1 курс расписание групп-часов нечетная.xls
schedules/Механический факультет/1 курс/МФ 1 курс четная.xls
schedules/Механический факультет/2 курс/МФ 2 курс  нечетная.xls
schedules/Механический факультет/2 курс/МФ 2 курс четная.xls
schedules/Механический факультет/3 курс/МФ 3 курс  нечетная.xls
schedules/Механический факультет/3 курс/МФ 3 курс четная.xls
schedules/Механический факультет/4 курс/МФ 4 курс  нечетная.xls
schedules/Механический факультет/4 курс/МФ 4 курс четная.xls
schedules/Механический факультет/5 курс/МФ 5 курс  нечетная.xls
schedules/Механический факультет/5 курс/МФ 5 курс четная.xls
schedules/Строительный факультет/1 курс/СФ 1 курс  нечетная.xls
schedules/Строительный факультет/1 курс/СФ 1 курс расписание групп-часов четная.xls
schedules/Строительный факультет/1 курс/СФ 1 курс четная.xls
schedules/Строительный факультет/2 курс/СФ 2 курс  нечетная.xls
schedules/Строительный факультет/2 курс/СФ 2 курс четная.xls
schedules/Строительный факультет/3 курс/СФ 3 курс  нечетная.xls
schedules/Строительный факультет/3 курс/СФ 3 курс четная.xls
schedules/Строительный факультет/4 курс/СФ 4 курс  нечетная.xls
schedules/Строительный факультет/4 курс/СФ 4 курс четная.xls
schedules/Строительный факультет/5 курс/СФ 5 курс  нечетная.xls
schedules/Строительный факультет/5 курс/СФ 5 курс четная.xls
schedules/Факультет управления процессами перевозок/1 курс/ФУПП 1 курс  нечетная.xls
schedules/Факультет управления процессами перевозок/1 курс/ФУПП 1 курс расписание групп-часов четная.xls
schedules/Факультет управления процессами перевозок/1 курс/ФУПП 1 курс четная.xls
schedules/Факультет управления процессами перевозок/2 курс/ФУПП 2 курс  нечетная.xls
schedules/Факультет управления процессами перевозок/2 курс/ФУПП 2 курс четная.xls
schedules/Факультет управления процессами перевозок/3 курс/ФУПП 3 курс  нечетная.xls
schedules/Факультет управления процессами перевозок/3 курс/ФУПП 3 курс четная.xls
schedules/Факультет управления процессами перевозок/4 курс/ФУПП 4 курс  нечетная.xls
schedules/Факультет управления процессами перевозок/4 курс/ФУПП 4 курс четная.xls
schedules/Факультет управления процессами перевозок/5 курс/ФУПП 5 курс  нечетная.xls
schedules/Факультет управления процессами перевозок/5 курс/ФУПП 5 курс четная.xls
schedules/Факультет экономики и управления/1 курс/ФЭУ 1 курс  нечетная.xls
schedules/Факультет экономики и управления/1 курс/ФЭУ 1 курс расписание групп-часов четная.xls
schedules/Факультет экономики и управления/1 курс/ФЭУ 1 курс четная.xls
schedules/Факультет экономики и управления/2 курс/ФЭУ 2 курс  нечетная.xls
schedules/Факультет экономики и управления/2 курс/ФЭУ 2 курс четная.xls
schedules/Факультет экономики и управления/3 курс/ФЭУ 3 курс  нечетная.xls
schedules/Факультет экономики и управления/3 курс/ФЭУ 3 курс четная.xls
schedules/Факультет экономики и управления/4 курс/ФЭУ 4 курс  нечетная.xls
schedules/Факультет экономики и управления/4 курс/ФЭУ 4 курс четная.xls
schedules/Электромеханический факультет/1 курс/ЭМФ 1 курс  нечетная.xls
schedules/Электромеханический факультет/1 курс/ЭМФ 1 курс расписание групп-часов нечетная.xls
schedules/Электромеханический факультет/1 курс/ЭМФ 1 курс четная.xls
schedules/Электромеханический факультет/2 курс/ЭМФ 2 курс  нечетная.xls
schedules/Электромеханический факультет/2 курс/ЭМФ 2 курс четная.xls
schedules/Электромеханический факультет/3 курс/ЭМФ 3 курс  нечетная.xls
schedules/Электромеханический факультет/3 курс/ЭМФ 3 курс четная.xls
schedules/Электромеханический факультет/4 курс/ЭМФ 4 курс  нечетная.xls
schedules/Электромеханический факультет/4 курс/ЭМФ 4 курс четная.xls
schedules/Электромеханический факультет/5 курс/ЭМФ 5 курс  нечетная.xls
schedules/Электромеханический факультет/5 курс/ЭМФ 5 курс четная.xls
schedules/Электротехнический факультет/1 курс/ЭТФ 1 курс  нечетная.xls
schedules/Электротехнический факультет/1 курс/ЭТФ 1 курс расписание групп-часов нечетная.xls
schedules/Электротехнический факультет/1 курс/ЭТФ 1 курс четная.xls
schedules/Электротехнический факультет/2 курс/ЭТФ 2 курс  нечетная.xls
schedules/Электротехнический факультет/2 курс/ЭТФ 2 курс четная.xls
schedules/Электротехнический факультет/3 курс/ЭТФ 3 курс  нечетная.xls
schedules/Электротехнический факультет/3 курс/ЭТФ 3 курс четная.xls
schedules/Электротехнический факультет/4 курс/ЭТФ 4 курс  нечетная.xls
schedules/Электротехнический факультет/4 курс/ЭТФ 4 курс четная.xls
schedules/Электротехнический факультет/5 курс/ЭТФ 5 курс  нечетная.xls
schedules/Электротехнический факультет/5 курс/ЭТФ 5 курс четная.xls
process_schedules.py
fatal_error_page.html
fatal_error_screenshot.png
schedule.json
user_data.json
uv.lock
