version: '3.8'

services:
  schedule_bot:
    build: .
    
    # Настройка перезапуска
    restart: always

    # --- КРИТИЧЕСКОЕ ИЗМЕНЕНИЕ: ЯВНАЯ ИНЖЕКЦИЯ ПЕРЕМЕННЫХ ---
    environment:
      # Portainer подставит значения из своего UI в эти переменные контейнера.
      - BB_LOGIN=${BB_LOGIN}
      - BB_PASSWORD=${BB_PASSWORD}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - ADMIN_ID=${ADMIN_ID}
    # --------------------------------------------------------

    # Создание тома
    volumes:
      - ./data:/app/data