version: '3.8'

services:
  schedule_bot:
    build: .
    # Используйте .env файл для хранения чувствительных данных
    env_file:
      - .env
    # Настройка перезапуска для обеспечения стабильности
    restart: always
    # Создание тома для сохранения базы данных и скачанных файлов
    volumes:
      - ./data:/app/data