services:
  schedule_bot:
    build: .

    # Настройка перезапуска
    restart: always

    # --- КРИТИЧЕСКОЕ ИЗМЕНЕНИЕ: ЯВНАЯ ИНЖЕКЦИЯ ПЕРЕМЕННЫХ ---
    environment:
      # Portainer подставит значения из своего UI в эти переменные контейнера.
      - BB_LOGIN=${BB_LOGIN}
      - BB_PASSWORD=${BB_PASSWORD}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - ADMIN_ID=${ADMIN_ID}
    # --------------------------------------------------------

    # Создание тома
    volumes:
      - ./data:/app/data

  schedule_web:
    build: .
    command: uvicorn web_app:app --host 0.0.0.0 --port 8000
    restart: always
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ./data:/app/data
    environment:
      - BB_LOGIN=${BB_LOGIN}
      - BB_PASSWORD=${BB_PASSWORD}
